#newsit_container {
  z-index:10000 !important;
  position: fixed !important;
}

/* LOCATIONS */
.newsit_location_br {
  right: 0px !important;
  bottom: 0px !important;
}
.newsit_location_bl {
  left: 0px !important;
  bottom: 0px !important;
}
.newsit_location_tr {
  right: 0px !important;
  top: 0px !important;
}
.newsit_location_tl {
  left: 0px !important;
  top: 0px !important;
}

.newsit_location_tl .newsit_btn,
.newsit_location_bl .newsit_btn {
  float: left !important;
}
.newsit_location_tr .newsit_btn,
.newsit_location_br .newsit_btn {
  float: right !important;
}

.newsit_location_tl .newsit_icon,
.newsit_location_bl .newsit_icon {
  float: left !important;
}
.newsit_location_tr .newsit_icon,
.newsit_location_br .newsit_icon {
  float: right !important;
}

/* BUTTONS */

#newsit_table table,
#newsit_table tbody,
#newsit_table tr,
#newsit_table td,
#newsit_table {
  padding:0px !important;
  margin:0px !important;
  border:0 !important;
  border-spacing:0px !important;
  background-color: transparent !important;
}

.newsit_btn {
  padding:5px !important;
  font-size:1em !important; 
  margin:0px !important;
  border:0 !important;
  transition: width 2s !important;
  display: inline-block !important;
  font-family: monospace !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  cursor: default !important;
  text-decoration:none !important;
  line-height: 1em !important;
  box-sizing: content-box !important;
}

.newsit_btnlink {
  cursor: pointer !important;
  text-decoration:underline !important;
}

#newsit_charTest {
  display: inline-block !important;
  width: unset !important !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

#newsit_tdHNews,
#newsit_tdHNews > a
{
  background-color:#FD6F1D !important;
  color:#fff !important;
}

#newsit_tdReddit,
#newsit_tdReddit > a
{
  background-color:#AAAAAA !important;
  color:#fff !important;
}

.newsit_icon {
  height: 0.1em !important;
  margin: 0 !important;
  padding: 0 !important;
}

.newsit_icon_hidden {
  width: 0 !important;
}

.ui-tooltip {
  z-index: 10001 !important;
}
