<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Newsit Settings</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
    <link rel="stylesheet" href="./vendor/bulma.min.css">
    <style>
      .hero-body {
        padding: 15px !important;  
      }
      #newsit-form {
        padding-top: 15px;
      }
    </style>
  </head>
  <body>
    <div class="columns" id="app">
      <div class="column">
        <section class="hero is-dark is-bold">
          <div id="newsit-header" class="hero-body">
            <div class="container">
              <a href="https://newsit.benwinding.com" target="_blank">
                <img src="img/icon.svg" style="width: 90px;">
              </a>
              <p class="is-pulled-right">
              version: {{version}}
              </p>
              <h2 class="title has-text-centered">
              Settings
              </h2>
            </div>
          </div>
        </section>
        <section class="section">
          <section class="form">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" v-model="formBtnsEnabled">
                  Run automatically on page load
                </label>
              </div>
            </div>
            <div class="field">
              <label class="label">Links Location</label>
              <div class="control">
                <div class="select">
                  <select v-model="formBtnsLocation">
                    <option disabled value="">Nothing selected</option>
                    <option v-for="option in options.formBtnsLocation" v-bind:value="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Link Size</label>
              <div class="control">
                <input type="range" v-model="formBtnsSize"
                  min="0.2"
                  max="2"
                  step="0.05"
                >
              </div>
              {{formBtnsSize}}
            </div>
            <div>
              <img id="btnsPreview" src="https://i.imgur.com/dVvDrfN.png" v-bind:style="{height: btnSizePx + 'px'}">
            </div>
          </section>
        </section>
        <section class="hero is-bold">
          <div id="newsit-header" class="hero-body">
            <div class="container">
              <h4 class="title has-text-centered">
                Disabled Sites
              </h2>
            </div>
          </div>
        </section>
        <section class="hero is-light">
          <div class="container">
            <div class="column is-6">
              <div class="columns is-mobile" v-for="(host, index) in hosts" :key="index">
                <div class="column is-narrow"> 
                  <button class="delete" v-on:click.prevent="removeHost(host)"></button>
                </div>
                <div class="column is-info" mode="out-in" appear>{{host}}</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript" src="js/options.js"></script>
  </body>
</html>